<configuration>
    <connectionStrings>
        <add name="Default-HistoryLog" providerName="System.Data.SqlClient"
             connectionString="data source=.\SQLEXPRESS;Initial Catalog=HistoryLog;Integrated Security=SSPI;Application Name=HistoryLog;Max Pool Size=10" />
    </connectionStrings>
    <appSettings>
        <add key="UnityBootstrapLoader" value="default-historylog-sql;default-historylog" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="HistoryLogWorkItem" switchName="WarningSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
            <source name="HistoryLogShutdownTask" switchName="WarningSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <!-- You can set the level at which tracing is to occur -->
            <add name="VerboseSwitch" value="Verbose"/>
            <add name="InformationSwitch" value="Information"/>
            <add name="WarningSwitch" value="Warning"/>
            <add name="OffSwitch" value="Off" />
            <!-- You can turn tracing off -->
            <!--add name="GlobalSwitch" value="Off" -->
        </switches>
        <trace autoflush="true">
            <listeners>
                <clear />
            </listeners>
        </trace>
        <sharedListeners>
            <add name="Console" type="ReusableLibrary.Abstractions.Tracing.ConsoleTraceListener, ReusableLibrary.Abstractions"
         traceOutputOptions="DateTime, ThreadId"/>
        </sharedListeners>
    </system.diagnostics>
</configuration>