<?xml version="1.0" encoding="utf-8"?>
<Database Name="HistoryLog" xmlns="http://schemas.microsoft.com/linqtosql/mapping/2007">
    <Table Name="HistoryLog.Event" Member="Event">
        <Type Name="ReusableLibrary.HistoryLog.Repository.LinqToSql.Entities.Event">
            <Column Name="EventId" Member="EventId" Storage="_EventId" DbType="SmallInt NOT NULL" IsPrimaryKey="true" />
            <Column Name="Name" Member="Name" Storage="_Name" DbType="VarChar(50) NOT NULL" CanBeNull="false" UpdateCheck="Never" />
            <Column Name="Format" Member="Format" Storage="_Format" DbType="VarChar(255) NOT NULL" CanBeNull="false" UpdateCheck="Never" />
            <Association Name="Event_Item" Member="Items" Storage="_Items" ThisKey="EventId" OtherKey="EventId" DeleteRule="NO ACTION" />
        </Type>
    </Table>
    <Table Name="HistoryLog.Item" Member="Item">
        <Type Name="ReusableLibrary.HistoryLog.Repository.LinqToSql.Entities.Item">
            <Column Name="ItemId" Member="ItemId" Storage="_ItemId" DbType="Int NOT NULL IDENTITY" IsPrimaryKey="true" IsDbGenerated="true" AutoSync="OnInsert" />
            <Column Name="EventId" Member="EventId" Storage="_EventId" DbType="SmallInt NOT NULL" UpdateCheck="Never" />
            <Column Name="OriginatorId" Member="OriginatorId" Storage="_OriginatorId" DbType="VarChar(50) NOT NULL" CanBeNull="false"  UpdateCheck="Never"/>
            <Column Name="Ip" Member="Ip" Storage="_Ip" DbType="Int NOT NULL"  UpdateCheck="Never" />
            <Column Name="Timestamp" Member="Timestamp" Storage="_Timestamp" DbType="DateTime NOT NULL" UpdateCheck="Never" />
            <Column Name="RelatedTo" Member="RelatedTo" Storage="_RelatedTo" DbType="VarChar(50)" UpdateCheck="Never" />
            <Column Name="Arguments" Member="Arguments" Storage="_Arguments" DbType="VarChar(255)" UpdateCheck="Never" />
            <Association Name="Event_Item" Member="Event" Storage="_Event" ThisKey="EventId" OtherKey="EventId" IsForeignKey="true" />
            <Association Name="Item_ItemExtraIp" Member="ItemExtraIps" Storage="_ItemExtraIps" ThisKey="ItemId" OtherKey="ItemId" DeleteRule="NO ACTION" />
        </Type>
    </Table>
    <Table Name="HistoryLog.ItemExtraIp" Member="ItemExtraIp">
        <Type Name="ReusableLibrary.HistoryLog.Repository.LinqToSql.Entities.ItemExtraIp">
            <Column Name="ItemId" Member="ItemId" Storage="_ItemId" DbType="Int NOT NULL" IsPrimaryKey="true" />
            <Column Name="Ip" Member="Ip" Storage="_Ip" DbType="Int NOT NULL" IsPrimaryKey="true" />
            <Association Name="Item_ItemExtraIp" Member="Item" Storage="_Item" ThisKey="ItemId" OtherKey="ItemId" IsForeignKey="true" />
        </Type>
    </Table>
</Database>