<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    </configSections>
    <unity>
        <namespace name="ReusableLibrary.Abstractions.Repository"/>
        <namespace name="ReusableLibrary.Abstractions.Services"/>
        <namespace name="ReusableLibrary.Supplemental.Repository" />
        <namespace name="ReusableLibrary.HistoryLog.Repository"/>
        <namespace name="ReusableLibrary.HistoryLog.Repository.LinqToSql"/>
        <namespace name="System.Data.Linq" />
        <assembly name="ReusableLibrary.Abstractions"/>
        <assembly name="ReusableLibrary.Supplemental" />
        <assembly name="ReusableLibrary.HistoryLog"/>
        <assembly name="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!-- Lifetime Managers -->
        <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
        <alias alias="PerThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
        <alias alias="WorkItem" type="ReusableLibrary.Unity.WorkItemLifetimeManager, ReusableLibrary.Unity"/>
        <alias alias="External" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
        <container>
            <!--
        
            Configuration Settings
            
            -->
            <register name="Default-HistoryLog" type="DbConnectionStringProvider">
                <lifetime type="Singleton" />
                <constructor>
                    <param name="name">
                        <value value="Default-HistoryLog" />
                    </param>
                </constructor>
            </register>
            <register name="Default-HistoryLog" type="IMappingSourceProvider" mapTo="XmlMappingSourceFromUrlProvider">
                <lifetime type="Singleton" />
                <constructor>
                    <param name="filename">
                        <value value="default-historylog-mapping.config" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Database 
            
            -->
            <register name="Default-HistoryLog-WorkItem" type="DataContext" mapTo="HistoryLogDataContext">
                <lifetime type="WorkItem" />
                <constructor>
                    <param name="connectionStringProvider">
                        <dependency name="Default-HistoryLog" />
                    </param>
                    <param name="mappingSourceProvider">
                        <dependency name="Default-HistoryLog" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            UnitOfWork 
            
            -->
            <register name="Default-HistoryLog-WorkItem" type="IUnitOfWork" mapTo="DefaultUnitOfWork">
                <constructor>
                    <param name="context">
                        <dependency name="Default-HistoryLog-WorkItem" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Repositories 
            
            -->
            <register name="Default-HistoryLog-WorkItem" type="IHistoryLogRepository" mapTo="HistoryLogRepository">
                <lifetime type="WorkItem" />
                <constructor>
                    <param name="context">
                        <dependency name="Default-HistoryLog-WorkItem" />
                    </param>
                </constructor>
            </register>
        </container>
    </unity>
</configuration>