<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    </configSections>
    <unity>
        <namespace name="ReusableLibrary.Abstractions.Bootstrapper"/>
        <namespace name="ReusableLibrary.Abstractions.Threading"/>
        <namespace name="ReusableLibrary.Abstractions.Net"/>
        <namespace name="ReusableLibrary.Abstractions.WorkItem"/>
        <namespace name="ReusableLibrary.HistoryLog.Agents"/>
        <namespace name="ReusableLibrary.HistoryLog.Models"/>
        <namespace name="ReusableLibrary.HistoryLog.Repository"/>
        <namespace name="ReusableLibrary.HistoryLog.WorkItem"/>
        <namespace name="System"/>
        <assembly name="ReusableLibrary.Abstractions"/>
        <assembly name="ReusableLibrary.HistoryLog"/>
        <!-- Lifetime Managers -->
        <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
        <alias alias="PerThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
        <alias alias="WorkItem" type="ReusableLibrary.Unity.WorkItemLifetimeManager, ReusableLibrary.Unity"/>
        <alias alias="External" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
        <container>
            <!--
        
            Configuration Settings
            
            -->
            <!-- 
        
            Bootstrapper Tasks 
            
            -->
            <register name="StartBackgroundTasks" type="IStartupTask" mapTo="StartBackgroundTasks">
                <lifetime type="Singleton"/>
            </register>
            <register name="WaitBackgroundTasks" type="IShutdownTask" mapTo="WaitBackgroundTasks">
                <lifetime type="Singleton"/>
                <constructor>
                    <param name="tasks" type="IBackgroundTask[]" />
                    <param name="waitDuration">
                        <value value="00:00:05.000" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Models 
            
            -->
            <register name="Default-HistoryLog" type="HistoryLogQueue">
                <lifetime type="Singleton" />
            </register>
            <!-- 
                TODO: You must provide correct mapping for IRemoteLocationProvider;
                see RemoteLocationProvider in ReusableLibrary.Web.Mvc.
            -->
            <register name="Default-HistoryLog" type="IRemoteLocationProvider" mapTo="LocalhostLocationProvider">
                <lifetime type="Singleton" />
            </register>
            <!-- 
        
            Agents 
            
            -->
            <register name="Default-HistoryLog" type="IHistoryLogAgent" mapTo="HistoryLogAgent">
                <constructor>
                    <param name="remoteLocationProvider">
                        <dependency name="Localhost" />
                    </param>
                    <param name="historyLogQueue">
                        <dependency name="Default-HistoryLog" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Work Items 
            
            -->
            <register name="Default-HistoryLog" type="IWorkItem" mapTo="HistoryLogWorkItem">
                <lifetime type="WorkItem" />
                <constructor>
                    <param name="unitOfWorkName">
                        <value value="Default-HistoryLog-WorkItem" />
                    </param>
                    <param name="historyLogRepository">
                        <dependency name="Default-HistoryLog-WorkItem" />
                    </param>
                    <param name="historyLogQueue">
                        <dependency name="Default-HistoryLog" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Background Tasks 
            
            -->
            <register name="Default-FlushHistoryLogBackgroundTask" type="IBackgroundTask" mapTo="WorkItemBackgroundTask">
                <lifetime type="Singleton"/>
                <constructor>
                    <param name="workItemName">
                        <value value="Default-HistoryLog" />
                    </param>
                </constructor>
                <property name="WorkItemStartDelay">
                    <value value="00:00:05.000" />
                </property>
                <property name="WorkItemTimeBreak">
                    <value value="00:00:05.000" />
                </property>
            </register>
            <register name="Default-HistoryLog" type="IShutdownTask" mapTo="HistoryLogShutdownTask">
                <lifetime type="Singleton"/>
                <constructor>
                    <param name="workItemName">
                        <value value="Default-HistoryLog" />
                    </param>
                </constructor>
            </register>
        </container>
    </unity>
</configuration>