<configuration>
    <system.diagnostics>
        <sources>
            <source name="Topic" switchName="OffSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <!-- You can set the level at which tracing is to occur -->
            <add name="VerboseSwitch" value="Verbose"/>
            <add name="InformationSwitch" value="Information"/>
            <add name="WarningSwitch" value="Warning"/>
            <add name="OffSwitch" value="Off" />
            <!-- You can turn tracing off -->
            <!--add name="GlobalSwitch" value="Off" -->
        </switches>
        <trace autoflush="true">
            <listeners>
                <clear />
            </listeners>
        </trace>
        <sharedListeners>
            <add name="Console" type="ReusableLibrary.Abstractions.Tracing.ConsoleTraceListener, ReusableLibrary.Abstractions"
         traceOutputOptions="DateTime, ThreadId"/>
        </sharedListeners>
    </system.diagnostics>
</configuration>